.root{
  max-width: 768px;
  flex-basis: 100%;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  color: #0a1b49;
}
.title{
  margin-bottom: 30px;
  color: darkgreen;
}
.result{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.copy{
  width: 20px;
  height: 30px;
  border: 2px solid #999;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  outline: none;
  background-color: transparent;
}
.copy::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  border: 2px solid #999;
  position: absolute;
  bottom: -8px;
  right: -9px;
  border-radius: 4px;
  background-color: #fff;
}
.copied{
  display: block;
  width: 100%;
  font-weight: bold;
  color: darkgreen;
  text-align: center;
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  animation-name: moveTop;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
}
@keyframes moveTop {
  from {
    transform: translateY(30%);
  }
  to {
    transform: translateY(-200%);
  }

}

.option {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 12px;
}
.option-name{
  margin: 12px;
  font-weight: 600;
  color: gray;
}
.option-label{
  cursor: pointer;
  margin-right: 12px;
  font-weight: 600;
  color: gray;
}

@media only screen and (max-device-width: 480px) {
  .root{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 600px;
    border-radius: 4px;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    color: #0a1b49;
  }
  .result{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: stretch;
    flex-direction:column;
    margin-bottom: 40px;
  } 
  .copied{
    display: block;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: darkgreen;
    text-align: center;
    position:static;
  }
  .passInput, .userInput{
    width: 50%;
    text-align: center;
  }
  .option-name{
    width: 50%;
    border-top: 0; 
    padding-top: 0;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 600;
    color: gray;
  }
  .option-label{
    width: 67%;
    font-size: 24px;
    margin-bottom: 5px;
    color: gray;
    height: 35px;
    margin: 20px;
  }
  .add, .generate{ 
    width: 99%;
  }
}
